ul {
  padding: 0;
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}

ul li a {
  display: block;
  padding: 2px;
  text-decoration: none;
  background-color: transparent;
}

ul li a:hover {
  transition: all 0.7s linear;
  background-color: rgba(184, 184, 184, 0.623);
}

ul li ul.dropdown {
  min-width: 100%;

  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown li {
  display: block;
}
.diveLang {
  position: fixed;
  left: 890px;
  bottom: -18px;
}
